<div class="card p-4 mb-4">
  <h2 class="fw-bold"><%= @restaurant.name %></h2>
  <hr>
  <p><i class="fa-solid fa-location-dot me-2"></i> <%= @restaurant.address %></p>
  <hr>
  <p><i class="fa-solid fa-mobile-screen me-2"></i> <%= @restaurant.phone_number %></p>
  <hr>
  <p><i class="fa-solid fa-list me-2"></i> <%= @restaurant.category.capitalize %></p>
</div>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-between w-100">
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    </li>
  <% end %>
</ul>
<br>

<%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
