<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item d-flex justify-content-between w-100">
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    </li>
  <% end %>
</ul>
<br>

<%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
